{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>小xuan女</p>
<img src="{% static 'image/wtyy.jpg' %}">
</body>
</html>